<div class="container" style="margin-top: 30px">
  <div class="card">
    <div class="card-header">
      <h1 class="title is-2 has-text-grey discussion-title"><%= @discussion.title %></h1>
      <h3 class="subtitle is-5 has-text-grey-lighter">by <%= @discussion.user.username %> in <%= link_to @discussion.course.title, @discussion.course %></h3>
    </div>

    <div class="card-body">
        <div class="level-left"></div>
        <div class="level-right">
          <% if discussion_author(@discussion) %>
            <div class="btn-group" role="group" aria-label="Basic example" style="margin-left: 15px">
              <%= link_to 'Edit Discussion', edit_discussion_path(@discussion), class: "btn btn-outline-warning"%>
              <%= link_to 'Delete', discussion_path(@discussion), method: :delete, data: { confirm: "Delete discussion?" }, class: "btn btn-danger" %>
          </div>
          <% end %>
        </div>

        <div class="content" style="margin-top: 10px;"><%= markdown(@discussion.content) %></div>

        <h2 class="subtitle is-5 has-text-grey" style="margin-left: 20px;"><%= @discussion.replies.count %> Replies</h2>

        <div id="discussion-replies" style="margin-left: 20px;">
          <%= render @discussion.replies %>
        </div>

        <hr />

        <h3 class="subtitle is-3 has-text-grey">Leave a reply</h3>
        <% if user_signed_in? %>
          <%= render 'replies/form' %>
        <% else %>
        <p>To reply you need to <%= link_to 'login', new_user_session_path %>. Don't have an account?
          <%= link_to 'Sign up', new_user_registration_path %> for one.</p>
        <% end %>

      </div>
    </div>


  <%= render 'sidebar' %>

</div>
