
<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-10">
      <h1 style="margin-left: 15px">Manage Student</h1>
    </div>
  </div>
  <table class="table table-hover">
    <thead class="bg-light">
    <tr>
      <th>Course Name</th>
      <th>Student Name</th>
      <th>Semester</th>
      <th>Year</th>
      <th>Grade</th>
      <th>Action</th>
    </tr>
    </thead>


    <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <%@course = Course.find(enrollment.course_id)
          @user = User.find(enrollment.user_id)%>
        <td><%= @course.title %></td>
        <td><%= @user.username %></td>
        <td><%= enrollment.semester %></td>
        <td><%= enrollment.year %></td>
        <td><%= enrollment.grade %></td>

        <td>
          <%= link_to 'Grade', enrollment_grade_path(:id => enrollment.id) ,class: "btn btn-outline-success btn-sm"%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

    <%= link_to 'Back', courses_path ,class: "btn btn-info"%>

</div>