<div class="container" style="margin-top: 30px">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-9"><h3>Course Information</h3></div>
          <% if current_user.student? == true || user_signed_in? == false %>
             <% if @course.enrollments.exists?(:user_id => current_user.id) == true %>
               <div class="col-sm-1"><button type="button" class="btn btn-secondary disabled" >Enrolled</button></div>
             <% else %>
               <div class="col-sm-2"><%= link_to 'Enroll Now',{:controller => "enrollment", :action => "new", :course_id => @course.id }, class: "btn btn-outline-success"%></div>
             <% end %>
          <% end %>
          <div class="col-sm-1"><%= link_to 'Assignments', assignment_index_path(:course_id => @course.id), class: "btn btn-outline-success"%></div>
       </div>
    </div>
    <div class="card-body">
      <p id="notice"><%= notice %></p>

      <%if @course.image.present? %>
      <%= image_tag(@course.image.url(:medium))%>
      <%end%>
      <p>
        <strong>Category:</strong>
        <%= @course.category.name %>
      </p>

      <p>
        <strong>Title:</strong>
        <%= @course.title %>
      </p>

      <p>
        <strong>Objective:</strong>
        <%= @course.objective %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @course.description %>
      </p>

      <p>
        <strong>Instructor:</strong>
        <%= @course.instructor %>
      </p>

      <div class="row">
        <div class="col-sm-6">
          <div class="list-group list-cust">
            <ul class="list-group">
              <li class="list-group-item"><strong>Length: </strong><%= @course.length %></li>
              <li class="list-group-item"><strong>Effort: </strong><%= @course.effort %></li>
              <li class="list-group-item"><strong>Price: </strong><%= @course.price %></li>
              <li class="list-group-item"><strong>Institution: </strong><%= @course.institution %></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="list-group list-cust">
            <ul class="list-group">
              <li class="list-group-item"><strong>Level: </strong><%= @course.level %></li>
              <li class="list-group-item"><strong>Languages: </strong><%= @course.languages %></li>
              <li class="list-group-item"><strong>Video Transcripts: </strong><%= @course.videots %></li>
              <li class="list-group-item"><strong>Prerequisites: </strong><%= @course.prerequisites %></li>
            </ul>
          </div>
        </div>
      </div>

      <br>

      <% if @course.enrollments.exists?(:user_id => current_user.id) == true or current_user.admin? or current_user.member?%>
      <p>
        <strong>Pdf File:</strong>
      <ul>
        <% @course.pdfdocs.each do |pdf| %>
          <li><%= link_to pdf.name.to_s, pdf.document.url , target: :_blank%></li>
        <% end %>
      </ul>
      </p>

      <br>

      <p>
        <strong>Youtube:</strong>
      <ul>
        <% @course.youtubes.each do |yt| %>
          <%y_id = yt.url %>
          <% @youtube = y_id.split('=').last %>
          <li>
            <iframe width="500" height="250" src="https://www.youtube.com/embed/<%= @youtube %>" allowfullscreen></iframe>
          </li>
        <% end %>
      </ul>
      </p>
    <%end %>
<!--     <p><strong> Uploads:</strong></p>-->
<!--       <ul>-->
<!--         <video autobuffer="autobuffer" preload="auto" style="width:50%;height:75%;" controls="controls" width="50%" height="75%" poster = "<%#= @course.videos_url(:thumb) %>">-->
<!--           <source  src="<%#= @course.videos_url%>"  />-->
           <%#if @course.videos_url.present? %>
<!--             <source type="video/mp4"  src="<%#= @course.videos_url%>" />-->
           <%#end%>
<!--     </video>-->

<!--    $('video').mediaelementplayer();-->

    </div>
  </div>


  <% if current_user.student? == true %>
    <div class="row" style="margin-top: 10px;">
      <div class="btn-group" role="group" aria-label="Basic example" style="margin-left: 15px">
        <%= link_to 'Home', root_path, class: "btn btn-outline-info" %>
        <%= link_to 'Back', home_study_path, class: "btn btn-outline-info" %>
      </div>
    </div>
  <% else%>
    <div class="row" style="margin-top: 10px;">
      <div class="btn-group" role="group" aria-label="Basic example" style="margin-left: 15px">
        <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-outline-info" %>
        <%= link_to "Print Course Information (PDF)", course_path(@course, format: 'pdf'), class: "btn btn-outline-info" %>
        <%= link_to 'Study Course', home_study_path, class: "btn btn-outline-info" %>
        <%= link_to 'Back', courses_path, class: "btn btn-outline-info" %>
      </div>
    </div>
  <% end %>


</div>



