<!DOCTYPE html>
<html>
  <head>
    <title>OnlineCourse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <script src="http://cdnapi.kaltura.com/p/2387541/sp/238754100/embedIframeJs/uiconf_id/8704822/partner_id/2387541"></script>
  </head>

  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <a class="navbar-brand" href="/">Online Course</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class ="navbar-nav pull-center">
        <%= form_tag(courses_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Courses" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
      <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto pull-right">
        <% if user_signed_in? and current_user.admin? %>
            <li class="nav-item active">
              <a class="nav-link" href="/admin" target="_blank">Admin Dashboard</a>
            </li>
            <li class="nav-item">
              <%= link_to 'Manage Courses', courses_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Course Page', home_study_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Discussion Board', discussions_path, class: "nav-link" %>
            </li>
        <% elsif user_signed_in? and current_user.student? == false %>
            <li class="nav-item">
                <%= link_to 'Manage Courses', courses_path ,class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Course Page', home_study_path ,class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'Discussion Board', discussions_path, class: "nav-link" %>
            </li>
        <%elsif user_signed_in? and current_user.student? == true %>
            <li class="nav-item">
              <%= link_to 'Course Page', home_study_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'My Courses', enrollment_enrollments_path , class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Discussion Board', discussions_path, class: "nav-link" %>
            </li>
        <% end %>


        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <h4 id="login-username" class="text-light center">Hello <%= current_user.username %></h4>
          <% end %>

          <% if user_signed_in? %>
              <%= link_to 'New Discussion', new_discussion_path, class:"btn btn-success btn-small navbar-btn" %>
              <%= link_to 'Edit Profile', edit_user_registration_path, class:"btn btn-success btn-small navbar-btn" ,style: "margin: 0px 5px 0px 5px;"%>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-small navbar-btn" %>
          <% else %>
            <%= link_to "Register", new_user_registration_path, class: "btn btn-warning btn-small navbar-btn" ,style:"margin-right: 5px;"%>
            <%= link_to "Log in", new_user_session_path, class: "btn btn-success btn-small navbar-btn"  %>
          <% end %>

        </ul>
      </div>
    </nav>
    <% if notice %>
    <p class="alert alert-success" style="margin-bottom: 0px;"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger" style="margin-bottom: 0px;"><%= alert %></p>
  <% end %>



  <%= yield %>

  </body>
</html>
